{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}
Sign-In
{% endblock title %}

{% block content %}
<div class="login-form">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="text-center social-btn">
			<a href="{% provider_login_url 'github' %}" class="btn btn-danger btn-lg btn-block"><i class="fa fa-github"></i> Sign in with <b>GitHub</b></a>
        </div>
        <div class="text-center social-btn">
			<a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-lg btn-block"><i class="fa fa-google"></i> Sign in with <b>Google</b></a>
        </div>
        <div class="or-seperator"><b>or</b></div>
        
        <h2 class="text-center">Log in</h2>       
        {% for field in form %}
        <div class="form-group">
            {{ field }}
            {% if field.errors %}
            <span class="text-danger">
                    {{ field.errors|striptags }}
            </span>
            {% endif %}
        </div>
        {% endfor %}
         
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block login-btn">Sign in</button>
        </div>
        <div class="text-center"><span class="text-muted">Forgot your Password?</span> <a class="font-sm-css" href="{% url 'reset_password' %}">Reset Password</a></div>
        <div class="text-center"><span class="text-muted">Don't have an account?</span> <a class="font-sm-css" href="{% url 'signup' %}">Sign up here</a></div>
    </form>
    
</div>
{% endblock content %}